task:
  name: packer-vagrant-build
  container:
    image: 'ghcr.io/sio/vagrant-boxes-debian:ci-env'
    kvm: true
  env:
    ACTION: "{{ ACTION }}"
    VAGRANT_CLOUD_TOKEN: "ENCRYPTED[134890f26c6768596a109b0da5826d0296c5591e8fdfcb94df7a2ce9c864d000caaf712f2dcec942cb01f3f2ea1d62c9]"
    DEBUG: 1

    CLONE_SHA: "{{ GITHUB_SHA }}"
    CLONE_URL: "{{ GITHUB_SERVER_URL }}/{{ GITHUB_REPOSITORY }}.git"

  # CI environment does not provide systemd, we have to start the daemons manually
  iptables_legacy_script:
    - update-alternatives --set iptables /usr/sbin/iptables-legacy
  dbus_background_script:
    - mkdir -p /var/run/dbus
    - /usr/bin/dbus-daemon --system --nofork --nopidfile
  virtlogd_background_script:
    - /usr/sbin/virtlogd
  libvirtd_background_script:
    - sleep 2 && /usr/sbin/libvirtd

  # Actual work is done here
  clone_script:
    - git clone "$CLONE_URL" .
    - git reset --hard "$CLONE_SHA"
  packer_script:
    - make "$ACTION"
